.about-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  background-color: #f9f9f9;
}

/* Estilo general del contenedor */
.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 0 10%;
  margin-bottom: 20px;
}

.photo-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-photo {
  max-width: 80%;

  object-fit: cover;
}

.text-container {
  flex: 1;
  padding-left: 20px;
}

h1 {
  font-size: 3rem;
  color: #333;
}

p {
  font-size: 1.2rem;
  color: #666;
}

/* Estilos para la sección de certificados */
.certificates-section {
  text-align: center;
  margin-top: 20px;
}

.carousel-container {
  width: 100vw;
  position: relative;
  margin-left: calc(-50vw + 50%);
}

.certificate-image {
  width: 600px;
  height: auto;
  margin-top: 20px;
  border-radius: 10px;
}

/* Estilo para la sección de experiencia */

/* Estilos para las tarjetas de experiencia profesional */
.vertical-timeline-element-content {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  position: relative;
}

.vertical-timeline-element-content:hover {
  transform: scale(1.10); /* Escala la tarjeta al hacer hover */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); /* Aumenta la sombra para resaltar */
  z-index: 3; /* Asegura que sobresalga sobre otras tarjetas */
}

/* Estilos del segundo timeline - borde derecho verde y flecha izquierda verde */
.vertical-timeline-element--work:nth-child(2) .vertical-timeline-element-content {
  border-right: 7px solid #2ecc71; /* Borde verde a la derecha */
}

.vertical-timeline-element--work:nth-child(2) h3 {
  color: #2ecc71; /* Título en verde */
}

.vertical-timeline-element--work:nth-child(2) .vertical-timeline-element-icon {
  background-color: #2ecc71; /* Fondo de ícono en verde */
}

/* Flecha verde del segundo timeline - en la parte izquierda de la tarjeta */
.vertical-timeline-element--work:nth-child(2) .vertical-timeline-element-content::before {
  border-left: 7px solid #2ecc71; /* Flecha verde en la izquierda */
}

.vertical-timeline-element--work:nth-child(3) .vertical-timeline-element-content {
  border-left: 7px solid #e74c3c; /* Borde rojo */
}

.vertical-timeline-element--work:nth-child(3) h3 {
  color: #e74c3c; /* Título en rojo */
}

.vertical-timeline-element--work:nth-child(3) .vertical-timeline-element-icon {
  background-color: #e74c3c; /* Fondo de ícono en rojo */
}

.experience-section {
  margin-top: 40px;
  width: 100%;
  padding: 0 10%;
}

.vertical-timeline-element-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.vertical-timeline-element--work:nth-child(1) .vertical-timeline-element-content {
  border-left: 7px solid #e67e22; /* Borde naranja */
}

.vertical-timeline-element--work:nth-child(1) h3 {
  color: #e67e22; /* Título en naranja */
}

.vertical-timeline-element:nth-child(1) .vertical-timeline-element-icon {
  background-color: #e67e22; /* Fondo de ícono en naranja */
}

/* Nueva Sección de Skills */
.skills-section {
  margin-top: 50px;
  width: 100%;
  padding: 0 10%;
  text-align: center;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
  align-items: center;
}

/* Hacer que en pantallas grandes haya 2 filas con 3 tarjetas por fila */
@media (min-width: 1024px) {
  .skills-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 tarjetas por fila */
  }
}

/* Estilo de las tarjetas de skills */
.skill-card {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  width: 100%;
  position: relative;
  z-index: 1;
}

.skill-card:hover {
  transform: scale(1.15); /* Escala la tarjeta aún más */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); /* Aumenta más la sombra para un efecto destacado */
  z-index: 3; /* Aumenta el z-index para asegurar que sobresalga de las demás tarjetas */
}

.skill-card h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 15px;
}

.skill-card ul {
  list-style: none;
  padding: 0;
}

.skill-card ul li {
  font-size: 1rem;
  color: #666;
  margin-bottom: 10px;
}

.skill-image {
  width: 40px; /* Ajusta el tamaño aquí según tus preferencias */
  height: auto;
  margin-right: 10px;
  vertical-align: middle;
}

/* Responsivo para pantallas pequeñas */
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    height: auto;
    padding: 0 5%;
  }

  .profile-photo {
    max-width: 80%;
  }

  .text-container {
    padding-left: 0;
    text-align: center;
  }

  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  .certificate-image {
    width: 90%;
    margin-top: 10px;
  }

  /* Ajuste para pantallas pequeñas */
  .skills-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
