/* Contenedor principal que envuelve todo y aplica el color de fondo */
.about-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    background-color: #f9f9f9; /* Fondo común */
  }
  
  .about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 0 10%;
  }
  
  .photo-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .profile-photo {
    max-width: 80%;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .text-container {
    flex: 1;
    padding-left: 20px;
  }
  
  h1 {
    font-size: 3rem;
    color: #333;
  }
  
  p {
    font-size: 1.2rem;
    color: #666;
  }
  
  /* Sección de título */
  .title-section {
    width: 100%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Grid de los certificados */
  .certificates-container {
    text-align: center;
    width: 100%;
    background-color: inherit; /* Hereda el fondo común */
  }
  
  .certificates-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas para 2 certificados por fila */
    gap: 20px;
    justify-items: center; /* Centra los elementos dentro de cada celda */
    margin-top: 20px;
  }
  
  .certificate-item {
    text-align: center;
  }
  
  .certificate-image {
    width: 300px; /* Aumento del tamaño de las imágenes */
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  